#overlay {
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,64,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#nickasker {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    background-color: rgb(255, 166, 0); /* Black background with opacity */
    z-index: 3;
}

#nickname {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
}

#gobutton {
    position: absolute;
    top: calc(30% + 30px); 
    left: 50%;
    transform: translateX(-50%);
}

#health {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 42px;
    color: white;
    z-index: 2;
}

#nickhint {
    position: absolute;
    top: calc(30% - 20px); 
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

#rules {
    position: absolute;
    top: calc(30% + 70px); 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 300px;
}

#fuel {
    position: absolute;
    left: 20px;
    top: 60px;
    font-size: 42px;
    color: white;
    z-index: 2;
}

#leaderboard {
    position: absolute;
    right: 200px;
    top: 20px;
    font-size: 22px;
    color: white;
    z-index: 2;
    text-align: center;
}